@model CARS_DEALER.Models.BrandModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BrandModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.brandName.brandName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brandName.brandName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modelName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
